<h1>Profile</h1>

<p>Username: <%= @user.username %></p>

<%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: 'btn btn-danger' %>
