<h1>All Games</h1>

<ul>
  <% @games.each do |game| %>
    <li><%= link_to "Game #{game.id}", game_path(game) %></li>
  <% end %>
</ul>

<%= form_for :game, url: games_path, method: :post do |f| %>
  <%= f.submit "New Game", class: 'btn btn-success' %>
<% end %>
