<h1>Let's Play Tic-Tac-Toe!</h1>

<div class="gameboard clearfix">
  <% 9.times do |i| %>
    <div class="square"><%= spot_status(i+1) %></div>
  <% end %>
</div>

<br>

<%= link_to 'Back', games_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', game_path(@game), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this game?' } %>
