<h1>Let's Play!</h1>

<div class='container'>
  <table class='table table-bordered'>
    <tr style='width: 200px; height: 200px;'>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr style='width: 200px; height: 200px;'>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr style='width: 200px; height: 200px;'>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
