.gameboard {
  border-collapse: collapse;
  border-style: hidden;
  background-color: #b5cef0;
}

.gameboard td {
  font-size: 35px;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
}
