.gameboard {
    background: #b5cef0;
    border-left: 1px solid #03012e;
    border-top: 1px solid #03012e;
    width: 403px;
}

.square {
    background: transparent;
    border-bottom: 1px solid #03012e;
    border-right: 1px solid #03012e;
    box-sizing: border-box;
    float: left;
    font-size: 35px;
    line-height: 134px;
    height: 134px;
    text-align: center;
    width: 134px;
}
